<div id="CinemaBlock" class="article">
    <table>
        <tr><td>Название:</td> <td data-bind="text: name"></td></tr>
        <tr><td>Описание:</td> <td data-bind="html: description"></td></tr>
        <tr><td>Адрес:</td> <td data-bind="text: address"></td></tr>
        <tr><td>Обед:</td> <td data-bind="text: dinner"></td></tr>
        <tr><td>Email:</td> <td data-bind="text: email"></td></tr>
        <tr><td>Ориентиры:</td> <td data-bind="text: guides"></td></tr>
        <tr><td>Телефон(ы):</td> <td data-bind="text: phones"></td></tr>
        <tr><td>Сайт:</td> <td data-bind="text: website"></td></tr>
    </table>
</div>
<div class="title1">Показы</div>

<div id="CinemaAfisha" data-bind="template: {name: 'templateCinemaAfisha', foreach: cinemas}"></div>
<script type="text/html" id="templateCinemaAfisha">
    <div class="dateRow"><label>Дата показа:</label> <span data-bind="text: show_date"></span></div>
    <div data-bind="foreach:shows" class="article">
        <div class="shows">
            <div data-bind="foreach: movie">
                <a data-bind="text: name,click: movieDetails "></a>
                <div><label>Формат:</label><span data-bind="text: format"></span></div>
                <div><label>Жанр:</label><span data-bind="text: genre"></span></div>
            </div>
            <div><label>Время показа:</label><span data-bind="text: times"></span></div>
        </div>
    </div>
</script>
