<div id="Cinema" class="article">
    <table>
        <tr><td>Название:</td> <td data-bind="text: name"></td></tr>
        <tr><td>Описание:</td> <td data-bind="text: description"></td></tr>
    </table>
</div>