@using afishaWebApi.Models.DataClasses

@Html.Partial("~/Views/LinkToMain.cshtml")

<div id="MovieDetailsReview" class="review">
    <span data-bind="text: intro"></span>
</div>
<div class="article" id="MovieDetailsMain">
    <img data-bind="attr: {src:image_big_path}" />
    <table>
        <tr><td>ID:</td> <td data-bind="text: id"></td></tr>
        <tr><td>Название:</td> <td data-bind="text: name"></td></tr>
        <tr><td>Актеры:</td> <td data-bind="text: actors"> </td></tr>
        <tr><td>Страна: </td><td data-bind="text: country"> </td></tr>
        <tr><td>Описание: </td><td data-bind="text: description" > </td></tr>
        <tr><td>Режиссер: </td><td data-bind="text: director"> </td></tr>
        <tr><td>Длительность: </td><td data-bind="text: duration"> </td></tr>
        <tr><td>Формат: </td><td data-bind="text: format"> </td></tr>
        <tr><td>Жанр: </td><td data-bind="text: genre"> </td></tr>
        <tr><td>Рейтинг IMDB: </td><td data-bind="text: imdb_rating"> </td></tr>
        <tr><td>Рекомендовано: </td><td data-bind="text: is_recommended"> </td></tr>
        <tr><td>Оригинальное название: </td><td data-bind="text: original"> </td></tr>
        <tr><td>Ссылка:</td><td> <a data-bind="attr: {href:permalink}"></a></td></tr>
        <tr><td>Производство: </td><td data-bind="text: production"> </td></tr>
        <tr><td>Рейтинг: </td><td data-bind="text: rating"> </td></tr>
        <tr><td>Возрастное ограничение: </td><td data-bind="text: rating_code"> </td></tr>
        <tr><td>Уведомление рейтинга: </td><td data-bind="text: rating_notice"> </td></tr>
        <tr><td>Трейлер на mover.uz: </td><td data-bind="text: trailer_moveruz"> </td></tr>
        <tr><td>Ссылка на сайт с описанием: </td><td data-bind="text: url"> </td></tr>
        <tr><td>Голоса: </td><td data-bind="text: voices"> </td></tr>
    </table>
</div>
<div id="MovieDetailsPhotos" data-bind="template: {name: 'templateMoviePhotos', foreach: photos}"></div>
<script type="text/html" id="templateMoviePhotos">
    <img data-bind="attr: {src:image_small_path}" />
</script>

<div class="title1">Показы</div>
<div id="MovieDetailsAfishas" data-bind="template: {name: 'templateMovieAfisha', foreach:afishas}"></div>
<script type="text/html" id="templateMovieAfisha">
    <div class="dateRow"><label>Дата показа:</label> <span data-bind="text: show_date"></span></div>
    <div class="shows article" data-bind="foreach: shows">
        <a data-bind="text: cinema, click: cinemaDetails"></a><span data-bind="text: cinema_id"></span>
        <div><label>Время показов:</label><span data-bind="text: formatted_times"></span></div>
        <div><label>Формат:</label><span data-bind="text: format"></span></div>
        <div><label>Doubled:</label><span data-bind="text: doubled"></span></div>
        <div><label>Язык:</label><span data-bind="text: lang"></span></div>
    </div>
</script>

<div id="MovieDetailsComments" data-bind="template: {name: 'templateMovieComments', foreach:comments }" class="comments article"></div>
<script type="text/html" id="templateMovieComments">
    <div>
        <img data-bind="attr: {src:avatar}" />
        <div class="comment"><span data-bind="text: comment"></span></div>
        <div><label>Пользователь:</label><span data-bind="text: user_name"></span></div>
        <div><label>Добавил:</label><span data-bind="text: date_added"></span></div>
    </div>
</script>



