@using afishaWebApi.Models.DataClasses
@model IEnumerable<Movie>

<div data-bind="foreach: movies" class="article articleMain" >
    <div>
        <img data-bind="attr: {src:image_url}" />
        <div><label>Название:</label> <a data-bind="text: name, click: movieDetails"></a></div>
        <div><label>Страна:</label> <span data-bind="text: country"></span></div>
        <div><label>Премьера:</label> <span data-bind="text: date_premiere"></span></div>
        <div><label>Формат:</label> <span data-bind="text: format"></span></div>
        <div><label>Жанр:</label> <span data-bind="text: genre"></span></div>
        <div><label>Оригинальное название:</label> <span data-bind="text: original"></span></div>
    </div>
</div>